.AppSidebar {
	background-color: #200344; 
	height: 100%;

    &__menu-item {
        padding-left: 20px;
        border: none;
        background-color: transparent;
        box-shadow: none;
        min-height: 3rem;
        color: white;
    }
}