.AppSidebar {
	background-color: #200344; 
	height: 100%;
	padding: 0px 0px;
	max-width: 350px !important;

    &__menu-item {
        padding-left: 40px;
        margin-top: 25px;
        margin-bottom: 25px;
        color: white;
        cursor: pointer;
    }
}